@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.categor-img{
    width: 10rem;
    height: 10rem;
    border-radius: 8px ;
}
.text-add{
    width: 100%;
    height: 10rem;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Crete Round', serif;
    
}