@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.head{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    background-color: #6B7D7D;
    
}
.logo{
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Crete Round', serif;
  
}
.nav-bar{
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}
.nav-bar li{
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color:black;
    font-family: 'Roboto Slab', serif;
}
.mobile-Head{
    width: 100%;
    height: 5rem;
    background-color: brown;
    display: flex;
    flex-direction: row;


}
.mobile-logo{
    width: 50%;
    height: 5rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Crete Round', serif;
}
.mobile-nav{
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:  flex-end;

}
.offcanvas-body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    background-color: brown;
}
.offcanvas-body li{
    list-style: none;
}
.offcanvas-body a{
    text-decoration: none;
}
.offcanvas-end{
    width: 50%;
}

@media screen and (max-width:992px){
    .head{
        display: none;
    }

}
@media screen  and (min-width:992px) {
    .mobile-Head{
        display: none;
    }
    
}
