

.footer{
    width: 100%;
    height: fit-content;
    background-color: #a99985;
    display: flex;
    align-items: center;
     font-family: 'Kanit', sans-serif;
    
}
.footer li{
    font-family: 'Kanit', sans-serif;
    list-style: none;
}